// REMOVE DEFAULT FONT
$body-font-family: none!important;

//CONFIG SHADOW
$shadow-key-umbra-opacity: rgba(#000000, 0.2);
$shadow-key-penumbra-opacity: rgba(#000000, 0.2);
$shadow-key-ambient-opacity: rgba(#000000, 0.2);
